<strong>Olá, {{ student }} </strong>
<p>Sua dúvida foi respondida em nossa plataforma, confira os detalhes abaixo:</p>
<p>
  <strong>Aluno: </strong> {{ student }} <br />
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Horario da Resposta: </strong> {{answer_at}} <br />

  <br />
  <small>
    Desejamos a você uma ótima semana e qualquer dúvida é só perguntar!
  </small>
</p>
