<strong>Olá, {{ student }} </strong>
<p>Parabéns por se registrar em nossa academia, confira os detalhes abaixo:</p>
<p>
  <strong>Aluno: </strong> {{ student }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de Início: </strong> {{ date_begin }} <br />
  <strong>Data de Término: </strong> {{ date_end }} <br />
  <strong>Preço Total: </strong> {{ price }} <br />
  <br />
  <small>
    Desejamos a você uma ótima semana e nos vemos na academia!
  </small>
</p>
